img {
    display: block;
    width: 200px;
    height: auto;
    margin: 0 auto;
}

h1 {
    font-size: 30px;
    text-align: center;
    font-style: oblique;
    color: grey;
    padding: 10px;

}

h2 {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    padding: 8px;
    margin: 10px;
    text-align: center;
    color: yellow;
}

.first {
    text-align: center;
    border: 2px dotted;
    padding: 5px;
    margin: 7px;
    border-color: aquamarine;
}

.kontener {
    text-align: center;
}

h3 {
    font-size: 20px;
    border: 3px solid black;
    box-sizing: border-box;
    display: inline-block;
    padding: 8px 10px;
    margin: 0 auto;
}

.lista1 {
    text-align: center;
    padding: 8px;
    list-style-position: inside;
}

h4 {
    font-size: 15px;
    border: 2px dotted red;
    display: inline-block;
    padding: 8px 10px;
    margin: 0 auto;
}