* {
    background-color: aqua;
}

.heading {
    text-align: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    margin: 0 auto;
}

ul {
    text-align: center;
}

li {
    display: inline-block;
    font-size: 15px;
    color: chocolate;
    padding: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}